---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ignacio González Muniz">
  <div class="py-10">
    <section>
      <h1 class="text-xl font-bold">Hello, World! 👋</h1>
      <p class="pt-4">
        I'm a Full Stack Web Developer with an academic background in the area
        of language.
      </p>
      <p class="pt-2">
        To strengthen my always active self-taught training on the latest
        technologies, I recently completed a solid Coding Bootcamp, a full-time
        educational program centered on the MERN stack.
      </p>
      <p class="pt-2">
        I face challenges through an analytical & methodical approach with a
        keen eye on detail. I really enjoy diving into open source technologies
        & breaking down complexity into simple steps.
      </p>
      <div class="flex items-center pt-2">
        <span class="me-2"> Find me on: </span>
        <a
          href="http://www.linkedin.com/in/migonzalezmuniz"
          target="_blank"
          class="me-2"
        >
          <img src="linkedin.svg" alt="" width="30px" height="30px" />
        </a>
        <a href="https://github.com/hopnux" target="_blank">
          <img src="github.svg" alt="" width="30px" height="30px" />
        </a>
      </div>
    </section>

    <section class="mt-16">
      <h2 class="title mb-4 text-xl">Education</h2>
      <ul class="space-y-4">
        <li class="flex flex-col gap-x-5 sm:flex-row">
          <time class="min-w-[25%] text-gray-600 dark:text-gray-400">
            Jan 2024 - Apr 2024</time
          >
          <span class="text-gray-800 dark:text-gray-400">
            <span class="underline"
              >Coding Bootcamp/Full Stack Web Development</span
            > | Hack Academy
            <span class="inline-block text-gray-500 text-sm"
              >Extremely practical & intensive, full-time educational program,
              which encompasses over 600 hours of learning covering Node.js,
              Express, MySQL, MongoDB, React & Git.</span
            >
          </span>
        </li>
        <li class="flex flex-col gap-x-5 sm:flex-row">
          <time class="min-w-[25%] text-gray-600 dark:text-gray-400">
            Sep/Oct 2023</time
          >
          <span class="text-gray-800 dark:text-gray-400">
            <span class="underline">Web Development Introductory Course</span> |
            Hack Academy
            <span class="inline-block text-gray-500 text-sm"
              >Intensive 60-hour course centered on the necessary tools to
              create attractive web pages using HTML, CSS / Bootstrap &
              JavaScript.</span
            >
          </span>
        </li>
        <li
          class="flex
              flex-col
              gap-x-5
              sm:flex-row"
        >
          <time class="min-w-[25%] text-gray-600 dark:text-gray-400">
            2006</time
          >
          <span class="text-gray-800 dark:text-gray-400">
            <span class="underline">Degree in Linguistics</span> | Universidad de
            la República
            <span class="inline-block text-gray-500 text-sm">80% completed</span
            >
          </span>
        </li>
      </ul>
    </section>

    <section class="mt-16">
      <h2 class="title mb-4 text-xl">Experience</h2>
      <ul class="space-y-4">
        <li class="flex flex-col gap-x-5 sm:flex-row">
          <time class="min-w-[25%] text-gray-600 dark:text-gray-400">
            Mar 2020 - Jan 2024</time
          >
          <span class="text-gray-800 dark:text-gray-400">
            <span class="underline">Minister's Secretary</span> | Ministry of Labour/Social
            Security
          </span>
        </li>
        <li class="flex flex-col gap-x-5 sm:flex-row">
          <time class="min-w-[25%] text-gray-600 dark:text-gray-400">
            Feb 2015 - Feb 2020</time
          >
          <span class="text-gray-800 dark:text-gray-400">
            <span class="underline">Legislator's Secretary</span> | Legislative Power
          </span>
        </li>
        <li class="flex flex-col gap-x-5 sm:flex-row">
          <time class="min-w-[25%] text-gray-600 dark:text-gray-400">
            Jul 2012 - Feb 2015</time
          >
          <span class="text-gray-800 dark:text-gray-400">
            <span class="underline">Software Developer</span> | Cualit
            <ul class="inline-block text-gray-500 text-sm">
              <li>
                ★ Back-end / front-end development (Ruby on Rails / JQuery)
              </li>
              <li>★ Website development & deployment (Wordpress)</li>
              <li>★ Linux system administration</li>
            </ul>
          </span>
        </li>
      </ul>
      <section class="mt-16">
        <h2 class="title mb-4 text-xl">Technologies</h2>

        <div class="grid grid-cols-2 gap-8 sm:grid-cols-4 sm:gap-6">
          <div class="flex flex-col gap-3 items-center">
            <span>Node.js | Express</span>
            <div class="flex gap-4 justify-center">
              <img
                src="tech-logos/node.svg"
                alt=""
                width="40px"
                height="40px"
              />
              <img
                src="tech-logos/express.svg"
                alt=""
                width="40px"
                height="40px"
              />
            </div>
          </div>

          <div class="flex flex-col gap-3 items-center">
            <span>Sequelize | MySQL</span>
            <div class="flex gap-4">
              <img
                src="tech-logos/sequelize.svg"
                alt=""
                width="40px"
                height="40px"
              />
              <img
                src="tech-logos/mysql.svg"
                alt=""
                width="40px"
                height="40px"
              />
            </div>
          </div>

          <div class="flex flex-col gap-3 items-center">
            <span>Mongoose | MongoDB</span>
            <div class="flex gap-4">
              <img
                src="tech-logos/mongoose.svg"
                alt=""
                width="40px"
                height="40px"
              />
              <img
                src="tech-logos/mongodb.svg"
                alt=""
                width="40px"
                height="40px"
              />
            </div>
          </div>

          <div class="flex flex-col gap-3 items-center">
            <span>React | Redux</span>
            <div class="flex gap-4">
              <img
                src="tech-logos/react.svg"
                alt=""
                width="40px"
                height="40px"
              />
              <img
                src="tech-logos/redux.svg"
                alt=""
                width="35px"
                height="35px"
              />
            </div>
          </div>

          <div class="flex flex-col gap-3 items-center">
            <span>Astro</span>
            <div class="flex gap-4">
              <img
                src="tech-logos/astro.svg"
                alt=""
                width="40px"
                height="40px"
              />
            </div>
          </div>

          <div class="flex flex-col gap-3 items-center">
            <span>Bootstrap</span>
            <div class="flex gap-4">
              <img
                src="tech-logos/bootstrap.svg"
                alt=""
                width="40px"
                height="40px"
              />
            </div>
          </div>

          <div class="flex flex-col gap-3 items-center">
            <span>Tailwind CSS</span>
            <div class="flex gap-4">
              <img
                src="tech-logos/tailwind.svg"
                alt=""
                width="40px"
                height="40px"
              />
            </div>
          </div>

          <div class="flex flex-col gap-3 items-center">
            <span>Git | Github</span>
            <div class="flex gap-4">
              <img src="tech-logos/git.svg" alt="" width="40px" height="40px" />
              <img src="github.svg" alt="" width="40px" height="40px" />
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</Layout>

<style></style>
